* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#main {
  background-color: #eaeaea;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #c7c7c7;
}

#title {
  margin-bottom: 15px;
}

#title h1 {
  color: #111;
  font-size: 2.5rem;
}

#title p {
  font-size: 1.2rem;
  color: #292929;
  margin: 5px;
  margin-bottom: 0px;
}

#img-div {
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  border: 5px solid #fff;
/*   box-shadow: 0px 0px 10px #c7c7c7; */
}

#image {
  border-radius: 10px;
  border: none;
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
/*   filter: grayscale(100%); */
}

#img-caption {
  margin-top: 5px;
  color: #737373;
}

#tribute-info {
  margin: auto;
  margin-top: 20px;
  max-width: 550px;
}

#tribute-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

ul{
  max-width:550px;
  margin:0 auto;
  text-align:left;
  list-style-type: square;
}

li{
  margin: 10px;
}

#tribute-link {
  display: block;
  margin-top: 10px;
  color: #292929;
}

blockquote{
  font-family: 'Cormorant Upright', serif;
  font-style: italic;
  font-size: 1.4rem;
  max-width: 700px;
  margin: 10px auto;
}

@media screen and (max-width: 500px) {
    #tribute-info {
    margin: 20px;
  }
    #tribute-title {
    font-size: 1rem;
  }
    #title h1 {
    font-size: 1.5rem;
  }
    #title p, li {
    font-size: 0.9rem;
  }
    #img-caption {
    font-size: 0.8rem;
  }
  #tribute-link {
    font-weight: bold;
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */